PORT=3000
FRONTENDPORT=5173
DATABASE_URL="postgresql://postgres:password@localhost:5432/lendit"
NODE_ENV="development"

REFRESH_TOKEN_SECRET="secret"
ACCESS_TOKEN_SECRET="secret"

# "true" para ativar a troca de emails, deixe desativado de preferência
EMAIL_EXCHANGE="false"
EMAIL_USERNAME=""
EMAIL_PASS=""

# "true" para ativar as operações do cron
CRON_WORK="false"